body {
    background-color: lightgray;
    font-weight: 20px;
    font-family: cursive;
}

h1 {
    font-family: fantasy;
    font-weight: 35px;
    text-align: center;
}
/*Configuration de l'espace Header*/
.header-container {
    height: 700px;
    background-repeat: no-repeat;
    background-image: url("../Images/Jumbo/Vietnam-jumbo.jpg");
    padding: 20px;
}

.logo {
    position : fixed;
    top: 20px;
    width: 150px;
    height: 150px;
    padding: 15px;
}

.menuSup {
    position: fixed;
    top: 85px;
    right: 25px;
    
}

.row-menu {
    
}

.col-menu {
    display : inline;
    padding: 20px;
    background-color: white;
    height: 5px;
    border-radius : 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid black;
    
}
/*Mise en place d'un grid responsive pour le menu sup en hamburger






/*Configuration Espace Container-bloc*/
/*Mise en place d'un grid responsive*/
/*Description pour ajustement à la taille de l'écran page accueil*/
@media all {
	#container-bloc {
		margin-top: 50px;
		display : grid;
		grid-gap: 2px;
		grid-template-columns: repeat(4, 300px);
		grid-template-rows: repeat(2, 350px);
		grid-auto-flow: row;
		text-align: center;
		align-content: center;
		justify-content: space-around;
	}
    
    #container-produit {
        margin-top: 50px;
		display : grid;
		grid-gap: 5px;
		grid-template-columns: repeat(3, 300px);
		grid-template-rows: repeat(1, 350px);
		grid-auto-flow: row;
		align-content: center;
		align-items: center;
		justify-content: space-around;
        
    }
}


/*Description pour les smartphones en paysage ou tablette en portrait page accueil*/
@media all and (max-width: 900px) {
	#container-bloc {
		margin-top: 50px;
		display : grid;
		grid-gap: 5px;
		grid-template-columns: repeat(2, 300px);
		grid-template-rows: repeat(4, 350px);
		grid-auto-flow: row;
		align-content: center;
		align-items: center;
		justify-content: space-around;
	}
   
    #container-produit {
        margin-top: 50px;
		display : grid;
		grid-gap: 5px;
		grid-template-columns: repeat(1, 500px);
		grid-template-rows: repeat(3, 350px);
		grid-auto-flow: row;
		align-content: center;
		align-items: center;
		justify-content: space-around;       
    }
}



/*Description pour les smartphones en portrait page accueil*/
@media all and (max-width: 460px) {
	#container-bloc {
		margin-top: 50px;
		display : grid;
		grid-gap : 5px;
		grid-template-columns: 300px;
		grid-template-rows: repeat(8, 350px);
		grid-auto-flow: row;
		align-content: right;
		align-items: right;
		justify-content: space-around;
	}
    
     #container-produit {
        margin-top: 50px;
		display : grid;
		grid-gap: 5px;
		grid-template-columns: repeat(1, 300px);
		grid-template-rows: repeat(3, 550px);
		grid-auto-flow: row;
		align-content: center;
		align-items: center;
		justify-content: space-around;       
    }
}

.button {
	width: 300px;
	height: 340px;
	text-align: center;
	border: 2px solid black;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	font-family : cursive;
	color: black;
	border-radius: 5px;
}

.image-bloc {
    border-radius: 6px;
}


/*Configuration espace produit*/
/*Mise en place d'un grid resposive*/
#container-produit {
    
}

/*Configuration du footer avec grid responsive*/
footer {
    
}





