/*Mise en place de menu hamburger*/
/*Fond blanc pour le défillement du menu supérieur*/
/*Fermeture de la page : animation de sortie des blocs*/
/*Animatin jquery*/
/*Menu affichage standard ou liste*/

* { 
    margin:0;
    padding:0;
}

body {
    font-weight: 20px;
    font-family: "Indie Flower", "cusrive";
    overflow-y: scroll;
    overflow-x: hidden;
    font-size: 14px;
}

h1 {
    font-family: "PT+Sans", "Arial";
    font-weight: 35px;
    text-align: center;
    
}

.titre {
    height: 130px;
    text-align: center;
    padding: 25px;
    background-color: lightgray;
}

h3 {
    font-family: "Merriweather Sans", "Sans Serif";
    
}



/*Configuration de l'espace Header*/
.header-container {
    height : 700px;
    background-repeat: no-repeat;
    background-image: url("../Images/Jumbo/Vietnam-jumbo.jpg");
    background-position: 50% 50%;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    padding: 20px;
}

.logo {
    position : fixed;
    top: 10px;
    width: 150px;
    height: 150px;
    padding: 15px;
}

.menuSup {
    position: fixed;
    top: 75px;
    right: 25px;
    
}

.row-menu {
    
}

/*.menu {
    display : inline;
    padding: 20px;
    background-color: white;
    height: 5px;
    border-radius : 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    border: 1px solid black; 
}*/

/*Mise en place d'un grid responsive pour le menu sup en hamburger






/*Configuration Espace Container-bloc*/
#contenu-pays {
    background-color: lightgray;
}

#contenu-produit {
    margin-top : 50px;
}


/*Mise en place d'un grid responsive*/
/*Description pour ajustement à la taille de l'écran page accueil*/
@media all {
	.contenu-visit {
		display : grid;
		grid-template-columns: repeat(4, 300px);
		grid-template-rows: repeat(2, 400px);
		grid-auto-flow: row;
		text-align: center;
		align-content: center;
		justify-content: space-around;
	}
    
    .contenu-prod {
		display : grid;
		grid-template-columns: repeat(3, 300px);
		grid-template-rows: repeat(1, 400px);
		grid-auto-flow: row;
		align-content: center;
		align-items: center;
		justify-content: space-around;  
    }
}


/*Description pour les smartphones en paysage ou tablette en portrait page accueil*/
@media all and (max-width: 1220px) {
	.contenu-visit {
        display: grid;
		grid-template-columns: repeat(2, 300px);
		grid-template-rows: repeat(4, 400px);
		grid-auto-flow: row;
		align-content: center;
		align-items: center;
		justify-content: space-around;
	}
   
     .contenu-prod {
		display : grid;
		grid-template-columns: auto;
		grid-template-rows: repeat(3, 250px);
		grid-auto-flow: row;
		align-content: center;
		align-items: center;
		justify-content: space-around;  
    }
}

/*Description pour les smartphones en portrait page accueil*/
@media all and (max-width: 650px) {
	.contenu-visit {
		display : grid;
		grid-template-columns: 300px;
		grid-template-rows: repeat(8, 400px);
		grid-auto-flow: row;
		align-content: right;
		align-items: right;
		justify-content: space-around;
	}
}


/*Mise en forme bloc Pays*/
.pays {
	width: 300px;
	height: 375px;
	text-align: center;
	border: 1px solid black;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 6px;
    background-color: white;
}

.image-pays {
    border-radius: 6px;
}

.visit {
    margin : 15px;
}

/*Configuration espace produit*/
.produit {
    padding : 5px;
    
}

/*Configuration du footer avec grid responsive*/
footer {
    height: 100px;
}

.reseau {
    float: left;
    margin-top: 20px;
    margin-left: 20px;
}

.copyright {
    float: right;
    margin-right: 50px;
    margin-top: 20px
}

.fa {
    color:red;
}





