
/*Fermeture de la page : animation de sortie des blocs*/


* { 
    margin:0;
    padding:0;
}

body {
    font-weight: 20px;
    overflow-y: scroll;
    overflow-x: hidden;
    font-size: 14px;
}

p {
    font-size: 16px;
    line-height: 24px;
    font-family: "Indie Flower", "cusrive";
}

/*========Caractéristique générale ==================*/

.titre-description {
    padding-top: 50px;
    padding-bottom: 40px;
}

.titre-description h2 {
    position: relative;
    text-align: center;
    color: #222;
    font-family: "PT+Sans", "Arial";
    font-weight: 400;
    text-transform: uppercase;   
}

.titre-description h2:after {
    content: "";
    position: absolute;
    bottom: -25px;
    left: 50%;
    width: 60px;
    height: 1px;
    background-color: #f3461a;
    margin-left: -30px;  
}

.titre-description p {
    color: #222;
    font-size: 26px;
    line-height: 32px;
    font-weight: 500;
    text-align: center;
    margin-top: 45px;
}

/*============== Nav Bar header ===========*/
.navbar {
    margin-top : -50px;
}

.navbar-default  {
    background-color : transparent;
    color: #111;
    z-index: 110;
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;     
}

.navbar-default .navbar-nav > li > a {
    color: #111;
    font-family: "PT Sans", sans-serif;
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
}

.navbar-default .navbar-nav > li > a:hover {
    color: #F3461A;
}

.navbar-default .navbar-nav > li > a:focus {
    color: #fff;
}

.navbar-brand {
    padding: 9px 15px;
}

.navbar-brand img {
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
}

.navbar-default .navbar-nav > .active>a,
.navbar-default .navbar-nav > .active>a:focus,
.navbar-default .navbar-nav > .active>a:focus{
    background-color: transparent;
    color: #F3461A;
}


/*============Espace Header================*/
.header {
    height: 700px;
    background-repeat: no-repeat;
    background-image: url("../Images/Jumbo/Australie-jumbo.JPG");
    background-position: 50% 50%;
    background-size: cover;
    background-attachment: fixed;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
}

.header-presentation {
    margin-top : 85px;
}

.logo {
    width: 200px;
    height: 200px;
}

.header-text h1 {
    font-family: "Merriweather+Sans", sans-serif; 
    text-align: center;
    color: #111;
    font-size: 45px;
    font-weight: 450;
    line-height: 50px;
    text-transform: uppercase;
    padding-top: 45px;
}

.header-text p {
    text-align: center;
    color: #111;
    font-size: 30px;
    line-height: 36px;
    font-weight: 600;
}

.header-btn {
    margin-top: 75px;
    text-align: center;
}

.btn-tour,
.btn-tour:focus,
.btn-tour:active,
.btn-tour:visited
{
    text-align: center;
    background-color: #00F3B8;
    opacity: 0.5;
    border-color: #00F3B8;
    padding: 10px 30px;
    font-size: 20px;
    font-weight: 400;
    text-transform: uppercase;
    border: 1px solid #111;
    border-radius: 3px;
    transition: all 1s;
    -webkit-transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;  
}



.btn-tour:hover {
    background-color: #00F3B8;
    color: #111;
}

/*==================Nous Choisir ================*/
.nous-choisir-part {
    padding-top: 50px;
    padding-bottom: 50px;
}

.nous-choisir-text {
    text-align: right;
}

.nous-choisir-titre {
    padding-bottom: 20px;
}

.nous-choisir-titre h2 {
    text-transform: uppercase;
    font-weight: 400;
    font-size: 30px;
    line-height: 40px;
    position: relative;
}

.nous-choisir-titre h2:after {
    content: "";
    position: absolute;
    bottom: -10px;
    right: 0;
    width: 60px;
    height: 1px;
    background-color: #F3461A;
}

.nous-choisir-titre p {
    padding-top: 25px;
    font-size: 20px;
    line-height: 25px;
    font-weight: 300;
}

.nous-choisir-item {
    position: relative;
    padding-bottom: 4px;
    padding-right: 60px;
}
.nous-choisir-item div {
    position: absolute;
    top: 0;
    right: 0;
}

.nous-choisir-item div i {
    font-size: 30px;
    color: #f3461A;
    transition: all 1s;
    -moz-ransition: all 1s;
    -o-transition: all 1s;
    -webkit-transition: all 1s;
}

.cnous-choisir-item h3 {
    color: #111;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 800;
}

.nous-choisir-item p {
    color: #111;
    font-size: 15px;
}

.backpacking {
    margin-top: 75px;    
}

.backpacking img {
    border: 1px solid #111;
    border-radius: 6px;
    width: 100%;
}

.backpacking img:hover {
    box-shadow: 5px 5px #111;
}


/*==============Nos Pays Généralités========================*/
.nos-pays {
    background-color: lightgray;
    padding-bottom: 25px;
}

.menu-presentation {
    padding-top: 50px;
    padding-bottom: 70px;
}

.menu-presentation ul {
    margin:0;
    padding: 0;
    text-align: center;
}

.menu-presentation ul li {
    list-style: none;
    display: inline;
    padding-left: 10px;
}

.menu-presentation ul li a {
    text-decoration: none;
    display: inline-block;
    text-align: center;
    border: 1px solid #F3461A;
    border-radius: 3px;
    width: 45px;
    height: 45px;
    line-height: 49px;
    color: #F3461A;
}

.menu-presentation ul li a:hover {
    color: #fff;
    background-color: #F3461A;
    transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -webkit-transition: all 1s;
}

.menu-presentation {
    font-size: 20px;
    color: #F3461A;
}

/*=============== Nos Pays mode carte =================*/
.nos-pays-carte {
    padding: 10px;
}

.nos-pays-carte-item {
	width: 100%;
    display: block;
	height: auto;
	text-align: center;
	border: 1px solid black;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	border-radius: 6px;
    background-color: white;
}

.image-pays-carte {
    border-radius: 6px;;
    width: 100%;
}

.btn-pays,
.btn-pays:focus, 
.btn-pays:active, 
.btn-pays:visited 
{
    padding : 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: #f3461A;
    font-size: 18px;
    font-weight: 350;
    border: 1px solid #f3461A;
    background-color: transparent;
     transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -webkit-transition: all 1s;
}

.btn-pays:hover {
    color: #fff;
    background-color: #f3461A;
}
/*========== Nos Pays mode Liste===========*/
.row-pays-detail {
    height: auto;
    display: block;
    background-color : #fff;
    border: 1px solid black;
    border-radius: 6px;
    text-align: center;
    margin: 5px;
}

.nos-pays-detail-img {
    margin-top: 15px; 
    margin-bottom : 10px;
}

.image-pays-detail {
    border-radius: 6px;
    height: 70px;
    
}
.nos-pays-detail-text {
    text-align: left;
}

/*======== Commentaires ============*/
.titre-commentaires h2 {
    color: #D8D8D8;
}

.titre-commentaires p {
    color: #D8D8D8;
}

.testimonial {
    background-image: url("../Images/Jumbo/newZealand-Jumbo.jpg");
    height: 700px;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-position: 50% 50%;
}

.testimonial-overlay {
    background-color: rgba(31, 31, 31, 0.5);
    padding-top: 10px;
    padding-bottom: 10px;
}

.carousel_indicators {
    bottom: -10px;
}

.carousel-inner .item img {
    border: 2px solid #129CF3;
    border-radius: 50%;
    padding: 3px;
}

.testimonial-caption {
    padding-bottom: 70px;
}

.testimonial-caption h2 {
    color: #129CF3;
    text-transform: uppercase;
    font-weight: 900;
    font-size 30px;
    margin-top: 25px;
}

.testimonial-caption h4 {
    color: #129CF3; 
}

.testimonial-caption h4 span {
    color: #D8D8D8;
    font-style: italic;
    font-weight: 300;
}

.testimonial-caption p {
    color: #D8D8D8;
    font-size: 18px;
    line-height: 27px;
    padding-top: 50px;
}



/*================= espace produit=====================*/
.nos-produits-item {
    padding: 10px; 
    margin : 10px;
	width: 100%;
    display: block;
	height: auto;
	text-align: center;
     transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -webkit-transition: all 1s;
}

.nos-produits-item:hover {
    border: 1px solid #111;
    border-radius: 6px;
    box-shadow: 2px 2px #111;
}

.nos-produits-item h3 {
    text-align: center;
}


.btn-produit {
    text-align: center;
}

/*======================= Compteur ================*/
.counter {
    background-image: url("../Images/Jumbo/Tanzanie-Jumbo.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-position: 50% 50%;
}

.counter-overlay {
    padding-top: 120px;
    padding-bottom: 120px;
    background: rgba(0, 0, 0, 0.4);
}

.counter-item i {
    color: #F3461A;
    font-size: 60px;
}

.counter-item h2 {
    font-family: "Merriweather Sans", sans-serif;
    color: #00F3B8;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 35px;
    margin-top: 15px;
    margin-bottom: 1px;
}

.counter-item p {
    color: #00F3B8;
    font-size: 20px;
    margin-top: 0px;
    font-weight: 300;
    text-transform: uppercase;
    font-family: "Merriweather Sans", sans-serif;
}

/*=============== Formulaire de contact ==============*/
.contact-us-form .form-control{
    display: blocked;
    height: 50px;
    width: 100%;
    padding:  6px 12px;
    font-size: 14px;
    line-height: 21px;
    color: #555;
    background-color: transparent;
    border: 1px solid #AEAEAE;
    border-radius: 3px;
    margin-bottom: 15px;
    opacity: 0.8;
    outline: 0px !important;
    transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -webkit-transition: all 1s;
}

#message {
    height: 120px;
    resize: none;
}

.social-icons {
    padding-top: 50px;
    padding-bottom: 70px;
}

.social-icons ul {
    margin:0;
    padding: 0;
    text-align: center;
}

.social-icons ul li {
    list-style: none;
    display: inline;
    padding-left: 10px;
}

.social-icons ul li a {
    text-decoration: none;
    display: inline-block;
    text-align: center;
    border: 1px solid #F3461A;
    border-radius: 3px;
    width: 45px;
    height: 45px;
    line-height: 49px;
    color: #F3461A;
}

.social-icons ul li a:hover {
    color: #fff;
    background-color: lightgray;
    transition: all 1s;
    -moz-transition: all 1s;
    -o-transition: all 1s;
    -webkit-transition: all 1s;
}

.social-icons ul li a i {
    font-size: 20px;
    color: #F3461A;
}



/*=============Footer================*/
.footer {
    background-image: url("../Images/Jumbo/montBlanc-Jumbo-footer.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-background-size: cover;
    background-position: 50% 50%;
    padding-bottom: 35px;
    padding-top: 35px;
    border-bottom: 3px solid #129CF3;
}

.row-footer {
    padding: 50px;
}
#copyright {
    width: 50%;
}

#copyright p {
    color: #111;
    font-weight: 600;
    font-size: 15px;
    text-transform: uppercase;
}

#copyright p a {
    text-decoration: none;
    color: #F3461A;
}

.scroll-top {
    text-align: right;
}

.scroll-top a {
background-color: #F3461A;
    padding: 25px;
}

.scroll-top a i {
    color: #fff;
    font-size: 25px;
}

.footer-btn {
    margin-bottom: 50px;
    text-align: center;
}

#arretScript {
    display : none;
    margin-bottom : 50px;
}